body {
    padding: 0;
    margin: 0;
    text-align: center;
<<<<<<< HEAD
    background-color:rosybrown;
}

canvas {
    background-color: darkcyan;
    width: min(70vh, 100vw);
=======
    background-color: rosybrown;
}

canvas {
    background-color:darkcyan;
    width: min(90vh, 100vw);
>>>>>>> main
}