@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poltawski+Nowy:ital@1&display=swap');


html,body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            
}

body {
  background-color: rgb(44, 40, 67);
  color: white;
  background-image: url(castle.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}

h1 {
  font-family: 'Lobster', cursive;
  padding-top: 40vh;
  font-size: 60px;

}


h1,
h2 {
  text-align: center;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: rgba(118, 118, 203, 0.265);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}


li {
  display: inline;
  margin-right: 10px;
}

li,
a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1000;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

img {
  width: auto;
  height: 350px;
  padding-left: 25vw;
}

p {
  font-family: 'Poltawski Nowy', serif;
}


#spieler {
  padding-top: 150px;
}
